*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    font-family: 'Roboto',
    sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-basis: 100%;
    background-color: rgb(205, 238, 255);
}
.img{
    width: 250px;
}
.imgf{
    width:200px;
}
.iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 40%;
    padding: 2rem;
}
.iconBox a {
    font-size: 24px;
    margin-top: 1rem;
}
.formfield{
    padding: 2rem;
    flex-basis: 40%;
}
.formfield h1{
    font-weight: 500;
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.form input {
    width: 60%;
    padding: 7px 10px;
    border: none;
    border-bottom: .75px solid grey;
    margin-bottom: 15px;
}
.form .name input{
    width: 29.5%;
}
.button{
    width: max-content;
    padding: 6px 18px;
    margin-bottom: 2rem;
    cursor: pointer;
    border: none;
    font-weight: 300;
    box-shadow: 0 2px 2px #555;
    outline: none;
}
.form button:hover{
    opacity: .9;
}
.social{
    display: flex;
    flex-direction: row;
}
#forget{
    font-size: 16px;
}
.social p{
    margin-left: 10px;
}
.social p i{
    font-size: 1.25rem;
    margin-left: 5px;
}

.forgetcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-basis: 100%; */
}
.imgSection{
    text-align: center;
}
.formF h1{
    text-align: center;
}
.formF p{
    margin: 1rem 0;
    color: #555;
}
.formF input{
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-bottom: .75px solid grey;
    margin-bottom: 15px;
}
